.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-brand {

    display: inline-block;
    float: none;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: inherit;
    padding: 0 10px;
    border-bottom: none;

}

footer {
    padding: 10px;
    text-align: center;
    background: #000;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    bottom: 0;
}

#foot1 {

    float: right;
    padding-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.signup-box {

    background-color: white;
    max-width: 30%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

#pass1 {

    margin-top: 20px;
}

#submit1 {

    margin-left: 10px;
    margin-top: 20px;
}